:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

aside {
  flex: 1;
  background-color: white;
  padding: 20px;
  min-height: 80%;
  border-right: solid #2e3844 3px;
  
}

h1 {
  margin: 0;
  font-size: 3rem;
}

h2 {
  margin: 1% 7%;
  padding-left: 3%;
  font-size: 2rem;
  color: #548c89;
}
h3 {
  margin-right: 3%;
  font-size: 2rem;
  color: #548c89;
  text-align: right;
}

nav {
  background-color: #2e3844;
}

nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

ul li a {
  color: white;
}
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

#about-me {
  border-top: solid #2e3844 3px;
  padding: 2%;
  margin: 0 7%;
}
#work {
  display: flex;
  flex-direction: row;
}
.cards {
  flex: 1 1 33%;
  box-sizing: border-box;
  border: solid #548c89 3px;
  width: 33%;
}
.card prio {
  flex: 2 1 391px;
  max-width: 391px;
  box-sizing: border-box;
  border: solid #548c89 3px;
}
.contact-me {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  color: #548c89;
  text-decoration: underline;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.info-me {
  display: block;
}

.main-header {
  background: linear-gradient(#2e3844, #548c89);
  color: white;
}

.main-header h1 {
  text-align: center;
}

.project {
  flex: 1 1 100%;
  min-height: 200px;
  min-width: 100%;
}

.project img {
  height: 225px;
  width: 300px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.project-main {
  flex: 2 1 100%;
  min-height: 200px;
  min-width: 500px;
  display: inline-block;
}
.project-main img {
  height: 225px;
  width: 300px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.project-main header {
  text-align: center;
}

.work-head {
  border-right: solid #2e3844 5px;
  padding-right: 5%;
  min-height: 100%;
  margin: auto, 5%;
}

.background-head {
  display: flex;
  min-height: 500px;
  background-image: url(./axel-czikora-GfTU54kkFmM-unsplash.jpg);
  background-position: center;
  background-size: cover;
  justify-content: end;
  align-items: flex-end;
  max-width: 100%;
  min-height: 500px;
}

.background-head h1 {
  display: block;
  background-color: #2e3844;
  color: #548c89;
  font-size: 2rem;
}

@media screen and (max-width: 390px) {
  nav ul {
    flex-direction: column;
  }
}
