:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  display: box;
}

main {
  flex-wrap: wrap;
}

body {
  margin: 0;
}

aside {
  flex: 1;
  background-color: blueviolet;
  padding: 20px;
  margin-left: 15%;
}
header {
}

h1 {
  margin: 0;
  font-size: 3rem;
}

h2 {
  margin: 1% 7%;
  font-size: 2rem;
  color: #548c89;
}

nav {
  background-color: #2e3844;
}

nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

li {
}

#about-me {
  border-top: solid #2e3844 3px;
  margin: ;
  margin: 0 5%;
}

#work .project {
  flex: 1 0 500px;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}

#work {
  display: flex;
  margin-top: 5%;
  flex-wrap: wrap;
  width: 100%;
}

.about-me {
  border-top: solid #2e3844 5px;
  margin: 10px 7% 5px 7%;
  padding-top: 5px;
}
.cards {
  display: block;
  overflow: auto;
  border: solid #548c89 3px;
}
.contact-me {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  color: #548c89;
  text-decoration: underline;
}
.info-me {
  display: block;
}

.main-header {
  background: linear-gradient(#2e3844, #548c89);
  color: white;
}

.main-header h1 {
  text-align: center;
}

.project {
  flex: 1 1 100%;
  min-height: 200px;
  min-width: 100%;
}

.project img {
  height: 225px;
  width: 300px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.project-main {
  flex: 2 1 100%;
  min-height: 200px;
  min-width: 500px;
  display: inline-block;
}
.project-main img {
  height: 225px;
  width: 300px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.project-main header {
  text-align: center;
}

.work-head {
  border-right: solid #2e3844 5px;
  padding-right: 5%;
  min-height: 100%;
  margin: auto, 5%;
}

.background-head {
  display: flex;
  min-height: 500px;
  background-image: url(./axel-czikora-GfTU54kkFmM-unsplash.jpg);
  background-position: center;
  background-size: cover;
  justify-content: end;
  align-items: flex-end;
  max-width: 100%;
  min-height: 500px;
}

.background-head h1 {
  display: block;
  background-color: #2e3844;
  color: #548c89;
  font-size: 2rem;
}

@media screen and (max-width: 390px) {
  nav ul {
    flex-direction: column;
  }
}
